.nav-top .navbar-nav a{
    color:black;
    font-size: large;
    font-weight:500 ;
    /* display: flex;
    justify-content: space-between;
    flex-direction: row; */
    font-size: small;
}


.nav-top li{
    padding-left: 5px;
    margin-left:auto;
  
 

}
.log{
    margin-left: 150px;
}
.card:hover{
    scale: 110%;
    transition: 350ms;
}
a{
    text-decoration: none;
}



.nav-top .navbar-brand{
    padding-left: 10px;
    font-size: larger;
    color: red;
    cursor: pointer;

}
.nav-top a:hover{
   
    text-decoration: underline;
    transition: 450ms;
    
  
}

.links{
    margin-right: 0px;
}
.links li {
    margin-left: 0;
    margin-right: 10px;
}

.nav-top a:active{
    color: red;
}


.profile{
    margin-bottom: 150px;
}
footer li{
   list-style-type: none;
   color: white;
  
}
footer a{
    text-decoration: none;
    color: white;

 }
 footer{
    background-color:rgba(35,47,62,255);
 }
 footer p{
    color: white;
 }


.bg{
   
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.bg li a{
    color: black;
    padding: 10px;
    font-weight: 400;
}




.bg li a :visited{
    color: red;
}


.navbar-toggler{
 
    margin-right: 1370px;
    margin-top: 70px;
    margin-left:0 ;
   
}

.ns{
    width:0px
}

.card img{
    width: 100%;
    height: 250px;
}


.contact-form{
    input{
        padding: 10px;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        width: 300px;
        border-radius: 10px;
        border: 1px solid lightblue;
        margin-left: 30px;
        
    }
    textarea{
        width: 300px;
        border: 1px solid lightblue;
        border-radius: 10px;
        margin-left: 30px;
    }

input::placeholder{
    color: blue;
    font-size: large;
}
textarea::placeholder{
    color: blue;
    font-size: large;
}

}
#submit{
    background-color: rgb(68, 68, 216);
    width: 150px;
    border-radius: 50px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
   margin-left: 50px;
   margin-top: 20px;
   
}
.contact{
    margin-top: 140px;
}
.contact-map{
    margin-top: 120px;
}

.photos img{
    width: 50px;
    width: 50px;
}

iframe{
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#slide{
    margin:  400px;
}

.carousel-inner{
    height: 550px;
   
}
.carousel-inner img{
    height: 550px;
    
}